In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

FileNotFoundError: [Errno 2] File movie_bd_v5.csv does not exist: 'movie_bd_v5.csv'

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [135]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [136]:
#занесение ответа в словарь
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+

In [6]:
# код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [137]:
#занесение ответа в словарь
answers['2'] = '2. Gods and Generals (tt0279111)'
#+

In [7]:
# код для решения данного вопроса:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [138]:
#занесение ответа в словарь
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#+

In [11]:
# код для решения данного вопроса:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [139]:
#занесение ответа в словарь
answers['4'] = '2. 110'
#+

In [13]:
# код для решения данного вопроса:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [140]:
#занесение ответа в словарь
answers['5'] = '1. 107'
#+

In [14]:
# код для решения данного вопроса:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [141]:
#занесение ответа в словарь
answers['6'] = '5. Avatar (tt0499549)'
#+

In [19]:
# код для решения данного вопроса:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [142]:
#занесение ответа в словарь
answers['7'] = '5. The Lone Ranger (tt1210819)'
#+

In [21]:
# код для решения данного вопроса:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [143]:
#занесение ответа в словарь
answers['8'] = '1. 1478'
#+

In [25]:
# код для решения данного вопроса:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [144]:
#занесение ответа в словарь
answers['9'] = '4. The Dark Knight (tt0468569)'
#+

In [29]:
data2008 = data[data['release_year'] == 2008]
data2008[data2008['profit'] == data2008['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [145]:
#занесение ответа в словарь
answers['10'] = '5. The Lone Ranger (tt1210819)'
#+

In [31]:
# код для решения данного вопроса:
data_12_14 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [146]:
#занесение ответа в словарь
answers['11'] = '3. Drama'
#+

In [260]:
# код для решения данного вопроса:
genres_cat = data['genres'].str.cat(sep='|')
genres_split = pd.Series(genres_cat.split('|'))
genres_split.value_counts().head(1)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [147]:
#занесение ответа в словарь
answers['12'] = '1. Drama'
#+

In [261]:
# код для решения данного вопроса:
genres_cat = data[data['profit'] > 0]['genres'].str.cat(sep='|')
genres_split = pd.Series(genres_cat.split('|'))
genres_split.value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [148]:
#занесение ответа в словарь
answers['13'] = '5. Peter Jackson'
#+

In [79]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['director'] = data_new.director.str.split('|')
data_new =data_new.explode('director')
grouped_df = data_new.groupby(['director']).sum()
grouped_df[grouped_df['revenue'] == grouped_df['revenue'].max()]

                   budget     revenue  runtime  vote_average  release_year
director
Peter Jackson  1288000000  6490593685     1355          58.1         16059

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [149]:
#занесение ответа в словарь
answers['14'] = '3. Robert Rodriguez'
#+

In [263]:
# код для решения данного вопроса:
data_new = data[data['genres'].str.contains("Action", na=False)].copy()
data_new['director'] = data_new.director.str.split('|')
data_new =data_new.explode('director')
Counter(data_new['director']).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [150]:
#занесение ответа в словарь
answers['15'] = '3. Chris Hemsworth'
#+

In [112]:
# код для решения данного вопроса:
data_new = data[(data.release_year == 2012)].copy()
data_new['actor'] = data_new.cast.str.split('|')
data_new =data_new.explode('actor')
grouped_df = data_new.groupby('actor').sum()
grouped_df[grouped_df['revenue'] == grouped_df['revenue'].max()]

                    budget     revenue  runtime  vote_average  release_year
actor
Chris Hemsworth  485000000  2027450773      458          24.8          8048

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [151]:
#занесение ответа в словарь
answers['16'] = '3. Matt Damon'
#+

In [257]:
# код для решения данного вопроса:
data_new = data[data.budget > data.budget.mean() ].copy()
data_new['actor'] = data_new.cast.str.split('|')
data_new =data_new.explode('actor')
Counter(data_new['actor']).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [154]:
#занесение ответа в словарь
answers['17'] = '2. Action'
#+

In [224]:
# код для решения данного вопроса:
data_new = data[data['cast'].str.contains("Nicolas Cage", na=False)].copy()
genres_cat = data_new['genres'].str.cat(sep='|')
genres_split = pd.Series(genres_cat.split('|'))
genres_split.value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [258]:
#занесение ответа в словарь
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
#+

In [132]:
data_new = data[data['production_companies'].str.contains("Paramount Pictures", na=False)].copy()
data_new[data_new['profit']==data_new['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [168]:
#занесение ответа в словарь
answers['19'] = '5. 2015'
#+

In [167]:
# код для решения данного вопроса:
grouped_df = data.groupby('release_year').sum()
grouped_df[grouped_df['revenue']== grouped_df['revenue'].max()]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [170]:
#занесение ответа в словарь
answers['20'] = '1. 2014'
#+

In [169]:
# код для решения данного вопроса:
data_new = data[data['production_companies'].str.contains("Warner Bros", na=False)].copy()
grouped_df = data_new.groupby('release_year').sum()
grouped_df[grouped_df['revenue']== grouped_df['revenue'].max()]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [180]:
#занесение ответа в словарь
answers['21'] = '1. Сентябрь'
#+

In [259]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['release_date'] = data_new.release_date.str.split('/')
data_new['release_month']=data_new.release_date.str[0]
Counter(data_new['release_month']).most_common(1)

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [223]:
#занесение ответа в словарь
answers['22'] = '2. 450'
#+

In [186]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['release_date'] = data_new.release_date.str.split('/')
data_new['release_month']=data_new.release_date.str[0]
len(data_new.query('release_month in ["6","7","8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [222]:
#занесение ответа в словарь
answers['23'] = '5. Peter Jackson'
#+

In [201]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['director'] = data_new.director.str.split('|')
data_new =data_new.explode('director')
data_new['release_date'] = data_new.release_date.str.split('/')
data_new['release_month']=data_new.release_date.str[0]
data_new.query('release_month in ["12","1","2"]').director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [199]:
#занесение ответа в словарь
answers['24'] = '5. Four By Two Productions'
#+

In [202]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['production_companies'] = data_new.production_companies.str.split('|')
data_new =data_new.explode('production_companies')
data_new['length_title']=data_new.original_title.apply(lambda x: len(x))
data_new.groupby('production_companies')['length_title'].mean().sort_values(ascending = False).head(1)

production_companies
Four By Two Productions    83.0
Name: length_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [218]:
#занесение ответа в словарь
answers['25'] = '3. Midnight Picture Show'
#+

In [217]:
# код для решения данного вопроса:
data_new = data.copy()
data_new['production_companies'] = data_new.production_companies.str.split('|')
data_new =data_new.explode('production_companies')
data_new['length_overview']=data_new.overview.apply(lambda x: len(x.split(" ")))
data_new.groupby('production_companies')['length_overview'].mean().sort_values(ascending = False).head(1)

production_companies
Midnight Picture Show    175.0
Name: length_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [221]:
#занесение ответа в словарь
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [219]:
min_vote_average = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= min_vote_average].original_title

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [288]:
#занесение ответа в словарь
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
#+

In [289]:
data_new = data.copy()
from collections import Counter
from itertools import combinations
def actor_combinations(cast):
    actors = sorted(cast.split('|'))
    actors = [list(x) for x in combinations(actors,2)]
    return [x[0]+ " & " + x[1] for x in actors]

data_new['actor_combinations'] = data_new.cast.apply(actor_combinations)                                         
data_new =data_new.explode('actor_combinations')
Counter(data_new['actor_combinations']).most_common(10)

[('Daniel Radcliffe & Emma Watson', 8),
 ('Daniel Radcliffe & Rupert Grint', 8),
 ('Emma Watson & Rupert Grint', 8),
 ('Ben Stiller & Owen Wilson', 6),
 ('Helena Bonham Carter & Johnny Depp', 6),
 ('Paul Walker & Vin Diesel', 5),
 ('Adam Sandler & Kevin James', 5),
 ('Hugh Jackman & Ian McKellen', 5),
 ('Kristen Stewart & Robert Pattinson', 5),
 ('Kristen Stewart & Taylor Lautner', 5)]

# Submission

In [290]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '19': '5. 2015',
 '20': '1. 2014',
 '22': '2. 450',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '23': '5. Peter Jackson',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [291]:
# и убедиться что ни чего не пропустил)
len(answers)

25